.galleryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Gallery{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    margin-top: 50px;
    margin-bottom: 0;
}

.galleryImg{
    width: 150px;
}

.image1{
    margin-top: 80px;
}
.image3{
    margin-top: 15px;
}
.image4{
    margin-top: 50px;
}
.image5{
    margin-top: 15px;
}
.image6{
    margin-top: -15px;
}
.image7{
    margin-top: 15px;
}
.image8{
    margin-top: 15px;
}
.image9{
    margin-top: 15px;
}